body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

h2 {
    color: #34495e;
    margin-top: 30px;
    text-align: center;
}

.imgs {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
}

img {
    width: 30%; 
    height: 500px;
    object-fit: cover;
    margin: 10px; 
}

.botao {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

button { 
    background-color: #3498db;
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    margin: 0 10px;
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #2980b9; 
}
